pipeline/pl_update_age.json
{
	"name": "pl_update_age",
	"properties": {
		"activities": [
			{
				"name": "get_employee",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from dbo.employees where name = ', '''','pipeline().parameters.p_name','''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "calculate_age",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_age",
					"value": {
						"value": "@string(\n    sub(\n        int(formatDateTime(utcNow(),'yyyy')),\n\t\tint(formatDateTime(activity('get_employee').output.firstRow.DOB,'yyyy'))\n)\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "update_employee",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "calculate_age",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('update dbo.employees set age = ',\nvariables('v_age'),\n'where name = ','''',pipeline().parameters.p_name, '''' )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_name": {
				"type": "string"
			}
		},
		"variables": {
			"v_age": {
				"type": "String"
			}
		},
		"annotations": []
	}
}